
h1 {
  font-family: arial;
  color: blue;
  display: flex;
  justify-content: center;

}


p {

  font-family: arial;
  color: black;

}

a {
  color: black:
}
}

form {
  font-family: arial;
  color: red;

}

.container {
  display: flex;
  justify-content: center;
}

.main {



}

.nav {
  font-family: arial;
  color: black;
  font-size: 11pt;


}
