
h1 {
  font-family: arial;
  color: blue;
  display: flex;
  justify-content: center;

}


p {

  font-family: arial;
  color: black;

}

/* nav {

  font-family: arial;
  color: orange;
  font-size: 11pt; */

}

form {
  font-family: arial;
  color: red;

}

.container {

}

.main {
  display: flex;
  justify-content: center;

}

.nav {
  font-family: arial;
  color: black;
  font-size: 11pt;
  display: flex;
  justify-content: center;

}
