
h1 {
  font-family: arial;
  color: blue;
  display: flex;
  justify-content: center;

}


p {

  font-family: arial;

}

/* nav {

  font-family: arial;
  color: orange;
  font-size: 11pt; */

}

form {
  font-family: arial;
  color: red;

}

.container {

}

.main {

}

.nav {
  font-family: arial;
  color: orange;
  font-size: 11pt;

}
