<form method="post" action="/artist/edit/<%=@artist.id%>">

<label for="first_name">First Name</label>
<input id="first_name" type="text" name="first_name" value="<%=@artist.first_name%>"/>

<label for="last_name">Last Name</label>
<input id="last_name" type="text" name="last_name" value="<%=@artist.Last_name"/>

<label for="artist_information">Artist Information</label>
<input id="artist_information" type="text" name="artist_information" value="<%=@artist.artist_information"/>

<input type="submit" value="Update"/>
</form>
