
<p>
  Gonna add a home page here displaying images and copy for everything. See wire frames for layout plan.

  how do I pull images from a database?
</p>

<img src="images/home_red_orange_pink.png"
    alt="red orange and pink pen marks like small slugs or beans"
    width="400"
    title="Cloud Butter is Cat Floss">
