<h1>Current Exhibits</h1>

<% @artists.each do |artist| %>
<div class="artist">
<p><%= artist.join_name() %></p>
<p><%= artist.artist_information() %></p>
<p><a href="/artist/<%= artist.id %>">View Artist</a></p>


<% end %>
</div>


<p>Here is some text to test how things are working</p>
