<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Brown Study</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
  <div class="nav">
  <h1>
    Brown Study Gallery
  </h1>
  <div>
  <nav>
    <ul>
      <li>
        <a href="/brown-study">Home</a>
        <a href="/current_exhibition">Current Exhibition</a>
        <a href="/artists/public">Artists</a>
        <a href="/manager_index">Manager Functions</a>
      </li>
    </ul>
  </nav>
</div>
<div class="main">
  <%= yield %>

</div>
</div>
</div>
</body>
</html>
