<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Brown Study</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>
    Brown Study Gallery
  </h1>
  <nav>
    <ul>
      <li>
        <a href="/brown-study">Home</a>
        <a href="/artists/new">New Artist</a>
        <a href="/exhibits/new">New Exhibit</a>
        <a href="/edit_artist/162">Update Artist</a>
        <a href="/edit_exhibit/215">Update Exhibit</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
