<h3>New Artists</h3>


<form method="post" action="/artists/new">
  <label for="first_name">First Name</label>
  <input id="first_name" type="text" name="first_name"/>

  <label for="last_name">Last Name</label>
  <input id="last_name" type="text" name="last_name"/>

  <label for="artist_information">Artist Information</label>
  <input id="artist_information" type="text" name="artist_information"/>

  <input type="submit" value="Add Artist"/>






</form>
