<h3>New Exhibit</h3>


<form method="post" action="/exhibits/new">
  <label for="title">Title</label>
  <input id="title" type="text" name="title"/>

  <label for="exhibit_information">Exhibit Information</label>
  <input id="exhibit_information" type="text" name="exhibit_information"/>

  <label for="category">Select Category</label>
  <select name="category" id="category">
    <option value="Drawing">Drawing</option>
    <option value="Textiles">Textiles</option>
    <option value="Sculpture">Sculpture</option>
    <option value="Performance">Performance</option>
    <option value="Text">Text</option>
    <option value="Sound">Sound</option>

  </select>








<input type="submit" value="Add Exhibit"/>

</form>
