<p>Name: <%= @artist.join_name %></p>

<p>Information: <%= @artist.artist_information %></p>
<p> <% @artist.id %></p>

<a href="/edit_artist/<%=@artist.id%>">Update Artist</a>
<br>
<br>
<a href="/artists/new">New Artist</a>
<br>
<br>
<form method="post" action="/view_artist/<%=@artist.id%>/delete">
  <input type="submit" value="Delete Artist"/>
  </form>
